.htaccess
.htpasswd
.passwd
.DS_Store
notes.txt
old-*
06_rain_in_australia/api-dir/api/__pycache__
06_rain_in_australia/api-dir/RainInAustralia/__pycache__
06_rain_in_australia/notebooks
06_rain_in_australia/mlruns
__pycache__/
__pycache__
Notebooks/
99_yaml/05_savings.yaml
