.flatpickr-input {
  font-family: sans-serif;
  width: 295px;
}

#passenger_count, #get-fare-button {
  font-family: sans-serif;
  width: 300px;
  margin-top:10px;
}

#form-position {
  position:absolute;
  left:10px;
  top:100px;
  height:40px;
  width: 295px;
}

#coord_orig_lat, #coord_orig_lon, #coord_destin_lat, #coord_destin_lon {
  display:hidden;
}

#fare {
  bottom: 20px;
  right: 0px;
  position:absolute;
  background-color:royalblue;
  color: white;
  font-family: sans-serif;
  width: 150px;
  border-top-left-radius: 20px;
  padding-left: 50px;
  height: 100px;
  font-size: 25pt;
}

.d-none {
  display:hidden;
}
